<div class="tableCollapse">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="date">Date</th>
        <th scope="col" class="name">List Name</th>
        <th scope="col" class="entity">No. of Entities</th>
        <th scope="col" class="actions">Actions</th>
        <th scope="col" class="detailsHeader"></th>
      </tr>
    </thead>
    <tbody *ngFor="let item of data | filter:searchTerm">
      <tr>
        <td class="dateContent">{{item.date}}</td>
        <td class="nameContent" [ngClass]="{'noEntity': item.entities==0}">{{item.list_name}}</td>
        <td class="entityContent">{{item.entities}}</td>
        <td *ngIf="item.entities==0">
            <i class="fa fa-envelope-o"></i>
        </td>
          <td *ngIf="item.entities!=0">
            <i class="fa fa-envelope-o"></i>
            <i class="fa fa-share-alt"></i>
            <i class="fa fa-pencil"></i>
            <i class="fa fa-trash"></i>
          </td>
        <td class="details"><button (click)="sendListItem(item)">Details</button></td>
      </tr>
    </tbody>
  </table>

</div>