.description {
    padding: 12px;
    font-size: 11px;
    text-align: center;
    background-color: #f8f9fa;
    margin: 21px;
    color: #A5A5A5;
    font-weight: 600;
    button {
        border: none;
        background-color: #f8f9fa;
        color: #003f61;
        font-weight: 700;
    }
}